.site-footer {
	background-color: $brand-primary;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	font-size: 12px;

	.footer-widget {
		h3 {
			text-transform: uppercase;
			color: $brand-secondary;
			font-size: 24px;
			margin-top: 0;
			font-we: 600;
		}
	}

	.site-info {
		@include media-breakpoint-down(sm) {
			margin-top: 30px;
			text-align: center;
		}
	}
	
	.footer-brand {
		margin-bottom: 15px;
		img.footer-image {
			max-height: 72px;
			width: auto;
		}
	}
	
	a {
		color: #fff;
	}
}
